<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text"  name="username" id="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="password"  name="password" id="password"></ion-input>
    </ion-item>
    <button class="usuario" (click)="login()" ion-button type="submit" block>Add User</button>
  </form> -->
</ion-content>
