<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="contenido">
      <h1>Usuario</h1>
    <ion-item>
      <ion-input type="text"  name="username" id="username"></ion-input>
    </ion-item>
      <h1>Contraseña</h1>
    <ion-item>
      <ion-input type="password"  name="password" id="password"></ion-input>
    </ion-item>
    <ion-button class="usuario" (click)="login()" type="submit" block>Iniciar sesión</ion-button>
    <ion-button color="medium" class="usuario" [routerLink]="['/registrarse']">Registrarse</ion-button>
  </form>
</ion-content>
