ion-toolbar{
    padding-left: 10%;
}
ion-title{
    --width: fit-content;
    display: inline-block;
    margin-top: 1%;
}

ion-button{
    --width: fit-content;
    display: inline-block;
    margin-top: -0%;
    float: right;
    margin-right: 20%;
}

.menu{
    font-size: medium;
}

.right{
    display: inline-block;
}
.logo{
    position: absolute;
    margin-top: -70%;
}
ion-footer{
    background-color: black;
    color: white;
    text-align: center;
}