<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title [routerLink]="['/home']">
        Oinatz
      </ion-title>
      <ion-button color="dark" [routerLink]="['/menu-fotos']">
        <ion-icon color="primary" name="image-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" [routerLink]="['/informazioa']">
        <ion-icon color="primary" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" [routerLink]="['/home']">
        <ion-icon color="primary" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

</ion-app>