<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulo" [routerLink]="['/home']">
        Oinatz
      </ion-title>
      <div class="right">
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title class="menu" [routerLink]="['/menu-fotos']">
          Galeria
        </ion-title>
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title class="menu" [routerLink]="['/informazioa']">
          Información
        </ion-title>
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title *ngIf="isAdmin && isLogged"  class="menu" [routerLink]="['/new-post']">
          Añadir Post
        </ion-title>
        <ion-title *ngIf="isAdmin && isLogged" class="menu">
          |
        </ion-title>
        <ion-button *ngIf="isLogged" (click)="logout()" color="dark" [routerLink]="['/home']">
          <ion-icon  color="primary" name="log-out-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isLogged" color="dark" [routerLink]="['/login']">
          <ion-icon  color="primary" name="log-in-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

</ion-app>