<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="titulo" [routerLink]="['/home']">
        <img class="logo" src="../assets/icon/logo.png">
      </ion-title>
      <div class="right">
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title class="menu" [routerLink]="['/galeria']">
          Galeria
        </ion-title>
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title class="menu" [routerLink]="['/menu-fotos']">
          Blog
        </ion-title>
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title class="menu" [routerLink]="['/informazioa']">
          Contacto
        </ion-title>
        <ion-title class="menu">
          |
        </ion-title>
        <ion-title *ngIf="isAdmin && isLogged"  class="menu" [routerLink]="['/new-post']">
          Añadir Post
        </ion-title>
        <ion-title *ngIf="isAdmin && isLogged" class="menu">
          |
        </ion-title>
      </div>
        <ion-button *ngIf="isLogged" (click)="logout()" color="dark" [routerLink]="['/home']">
          <ion-icon  color="primary" name="log-out-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!isLogged" color="dark" [routerLink]="['/login']">
          <ion-icon  color="primary" name="log-in-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet> </ion-router-outlet>
  
 <!-- Footer -->
<ion-footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.instagram.com/oinatz_huella/"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="https://www.facebook.com/Oinatz-814046152291080"><ion-icon name="logo-facebook"></ion-icon></a>
  </div>
  <!-- Copyright -->

</ion-footer>
<!-- Footer -->
</ion-app>