
.contenido{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.galeria{
    max-width: 30%;
    height: 345.81px;
    margin-right: 3%;
    text-align: center;
    border: 1px solid white;
    margin-top: 1%;
    display: inline-block;
    padding: 1%;
}

img{
    max-width: 80%;
}