.contenido{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.galeria{
    margin-top: 1%;  
    margin-bottom: 1%;
    display: flow-root;
}
.galeria>img{
    float: left;
    margin-right: 2%;
} 
form{
    display: grid;
}
@media only screen and (max-width: 749px){
    .contenido{
      margin-top:2%
    }
  }
  @media only screen and (max-width: 639px){
    .contenido{
      margin-top:6%
    }
  }
  @media only screen and (max-width: 575px){
    .contenido{
      margin-top:8%
    }
  }
  @media only screen and (max-width: 411px){
    .contenido{
      margin-top:9%
    }
  }